* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    margin: auto;  
   background-color: hsl(0, 0%, 98%);
}

/* ------------------------------------TOP CONTAINER- */

.top-container {
    display: flex;
    flex-direction: column;
    padding: 4% 20% 3%;
    width: 100%;

}

h1{
    font-size: 2.5rem;
    font-weight: 200;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.top-container p {
    margin-top: 1rem;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    padding: 0 10rem;
    font-size: .9375rem;
}

/* ----------------------------------BOTTOM CONTAINER */

.bottom-container {
    width: 100%;
    justify-content: center;
    padding: 0 5% 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* -------------LEFT COLUMN */

.left-col {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}


/* ------------MID COLUMN */

.mid-col{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 2rem;
}

.mid-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ------------RIGHT COLUMN */

.right-col{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

/* ----------------------CARDS */

.card {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 7px;
    padding: 2.2rem 2.2rem;
    width: 400px;
    height: 270px;
    justify-content: flex-start;
    box-shadow: 0.5px 0.5px 12px;
}

.box-desc{
    display: flex;
    flex: 1;
    padding-top: 0.5rem;
    font-weight: 400;
    font-size: .9375rem;
    color: hsl(229, 6%, 66%);
}

img{
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-self: flex-end;
}

/* Footer */

footer{
    padding: 2% 6%;
}


/* Utility Classes */

.red {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.cyan{
    border-top: 4px solid hsl(180, 62%, 55%);
}

.orange {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.blue {
    border-top: 4px solid hsl(212, 86%, 64%);
}



/* ------------------------------------------------------------------MOBILE DESIGN */
@media screen and (max-width: 940px){
    /* -----------------------TOP CONTAINER 940PX */

    .top-container {
        padding: 0;
        width: 95%;
    }

    .top-container p {
        padding: 0 4rem;
    }

    /* ---------------------------------BOTTOM CONTAINER 940PX */


    .bottom-container {
        padding-top: 4rem;

    }

    .left-col {
        align-items: center;
        width: 100%;
    
    }
    .mid-col{
        gap: 2rem;
        width: 100%;
    
    }

    .right-col {
        width: 100%;
        align-items: center;
    
    }
    

     .card {            
        width: 90%;     
     }
}        
    

@media screen and (max-width: 524px){

    /* ------------ TOP CONTAINER 524px */

    .top-container {
         width: 95%;       
        padding: 6rem 0.9rem 0;       
    }

      
    h1, h2{
        font-size: 1.6rem;        
    } 
    
    .top-container p {
        margin-top: 1rem;  
        padding: 0;
    }


    /* -------------------BOTTOM CONTAINER 524px */
    .bottom-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 90%;
        height: auto;
    }
    
}        
    